  <div class="cta">
    <h3>How can I help you?</h3>
    <p>Let's talk about your project. Drop me your name and best e-mail in the form below, and I'll follow up with you within 48 hours.</p>

    <div class="email">
      <input type="text" name="name" id="input-name" placeholder="Your name" />
      <input type="email" name="_replyto" id="input-email" placeholder="Your e-mail" />
      <button id="btn-submit">Send</button>
    </div>
    <div class="email-success">
      Your e-mail has been sent. Thanks!
    </div>
  </div>